extends partials/layout

block content
 h1 this is the #{title} page
 p.
   dsaddasdasdasddsaddasdasdasd
   dsaddasdasdasd dsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasd
   dsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasd
   dsaddasdasdasd
   dsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasddsaddasdasdasd
   dsaddasdasdasd
