body {
  background-color: lightblue
}

a{
  font-size: 20px;
  color: red;
}

.listItem{
 text-align: center
}

.welcome {
  text-align: center;
}
.form{
  text-align: center;
}

.button{
  border-radius: 10px;

}

.list{
  display: inline-block;
}
